@{
  Layout = "_Layout";
}

@model FrenchBakery.Models.Flavor;

<h1>Edit @Html.DisplayFor(model => model.Type)</h1>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <p>
    @Html.Label("Type of Flavor:")
    @Html.TextBoxFor(model => model.Type)
  </p>
  <p>
    @Html.Label("Description:")
    @Html.TextAreaFor(model => model.Description)
  </p>

  <p>
    <input type="submit" value="Save" class="btn btn-light" />
  </p>
}

<p>@Html.ActionLink("Back to details", "Details", new { id = Model.FlavorId })</p>