@{
  Layout = "_Layout";
}

@model FrenchBakery.Models.Treat;

<h1>Add a Flavor for @Html.DisplayFor(model => model.Name)</h1>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <p>
    @Html.Label("Add Flavor")
    @Html.DropDownList("FlavorId")
  </p>
  <p>
    <input type="submit" value="Save" class="btn btn-dark" />
  </p>
}
  <p>@Html.ActionLink("Back to details", "Details", new { id = Model.TreatId })</p>