@{
  Layout = "_Layout";
}

@model FrenchBakery.Models.Treat;

<br>
<div class="card custom-card">
  <div class="card-header">
    <h1>Add a Flavor for @Html.DisplayFor(model => model.Name)</h1>
  </div>

@using (Html.BeginForm())
{
  <div class="card-body">
    <div class="form-group">
      @Html.HiddenFor(model => model.TreatId)
      
      @Html.Label("Add Flavor")
      @Html.DropDownList("FlavorId")
    </div>
  </div>
  <div class="card-footer">
      <input type="submit" value="Save" class="btn btn-outline-secondary" />
      @Html.ActionLink("Back to details", "Details", new { id = Model.TreatId }, new { @class="btn btn-outline-secondary" })
  </div>
}
</div>