@{
  Layout = "_Layout";
}

@using FrenchBakery.ViewModels

@model RegisterViewModel

<h1>Register a new user</h1>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <div class="row">
    <p class="col-md-4">
      @Html.Label("First Name")
      @Html.TextBoxFor(user=> user.FirstName)
    </p>
    <p class="col-md-4">
      @Html.Label("Last Name")
      @Html.TextBoxFor(user=> user.LastName)
    </p>
    <p class="col-md-4">
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)
  </p>
  </div>
  <div class="row">
    <p class="col-md-4">
      @Html.LabelFor(user=> user.Password)
      @Html.PasswordFor(user=> user.Password)
    </p>
    <p class="col-md-4">
      @Html.LabelFor(user=> user.ConfirmPassword)
      @Html.PasswordFor(user=> user.ConfirmPassword)
    </p>
  </div>
    <input type="submit" value="Register" class="btn btn-light" />
}
